
/*Felles for hele siden*/

h3 {
    text-align: center;
}


/* ooverste kolonne på siden, setter plassering litt opp*/

.toppen{
    margin-top: -60px;
}

/* Setter plassering til hele nettsiden*/
.container h1{
    color:#73aafd;
    font-size:400%;
    font-weight: bold;
    text-shadow: InfoText;
    margin-top: 70px;

}

/* design til den sorte boksen */
.boxed{
    width: auto;
    height: 50px;
    background-color: #505965;
    box-shadow: 3px 3px 3px #888888;
}

/* INNLOGGING og OPRETT NYE BRUKER knappene */

.login li{
    display: inline;
}


.login h3{
    font-size:small;
}

.login{
    margin-top: 110px;
    float:right;
    margin-right: 5px;
}

/* kartet */

#leaflet-kart {
    height: 680px;
    width: 500px;
    margin: auto;
}

/* varesortement / varevalg*/

    /* OBSOBS!!! finn ut hvordan man velger ut hver underkat. for å legge på en liten padding*/

.varevalg{
    list-style-type: none;
    margin-right:40px;
    margin-left: 20px;
}


#addVareKnapp {
    color: #ffffff;
    border: solid 1px rgba(50, 52, 53, 0.42); border-right:0px;
    background: #bdbab7;
}

.removeVareKnappFritid {
    color: #ff001a;
    border: solid 1px rgba(50, 52, 53, 0.42); border-right:0px;
    background: #bd0010;
}

#addVareKnapp:hover {
    background: #28c313;
}

#removeVareKnapp:hover {
    background: rgba(246, 17, 12, 0.77);
}

#vareNavn {
    color: rgba(0, 0, 0, 0.77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#varePris {
    color: rgba(0, 0, 0, 0.77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*Varesøk*/

.søk-knapp{
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#a9cdd8) , to(#73aafd));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    margin-left:-6px;
}

.search{
    margin-left:10px;
    margin-bottom: 20px;
    display: inline;
    width: 80%;
    height:33px;
    border-top-left-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
}


.search form input[type="text"]{
    background-color: rgb(255,255,255);
    font-size:medium;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

/* handleliste */

.handleliste{
    margin-left: 50px;
    margin-rigth: 50px;
}

.handlelisteVarer {
    font-size: 15px;
    text-decoration-color: #373d47;
}

.handleliste ul {
    background-color: white;
    border:1px solid #505965;
    border-radius:5px;
}
.handleliste li {
    padding-left: 5px;
}



/* Innloggingsvinduet, overlay klassen */


.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display:block;
    justify-content: center;
    left: 0;
    position:fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:1001;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}


a.close {
    background-color: red;//rgb(204,204,204);
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .8em;
    padding: .2em .5em;
    position:absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}

a.close:hover {
    background-color: #73aafd;
    cursor: pointer;
}


div.overlay > div.login-wrapper {
    align-self: center;
    position: absolute;
    top:20%;
    left:35%;
    z-index: 1002;
    background-color: rgba(0,0,0,.10);
    border-radius: 2px;
    padding: 6px;
    width: 450px;
}

div.overlay > div.login-wrapper > div.login-content {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}

div.overlay > div.login-wrapper > div.login-content > h3 {
    color: rgb(0,0,0);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;
}

.overlay form label {
    color: rgb(0,0,0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;
}

.overlay
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="password"],
form textarea .overlay {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size:.65em;;
    padding: .8em .55em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    width: 90%;
}

.overlay
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {
    border-color: #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
}

.overlay
form input[type="text"]:invalid:focus,
form input[type="email"]:invalid:focus,
form input[type="number"]:invalid:focus,
form input[type="search"]:invalid:focus,
form input[type="password"]:invalid:focus,
form textarea:invalid:focus,
form select:invalid:focus {
    border-color: rgb(248,66,66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
}

.overlay form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
}

.overlay
form button:hover {
    background-color: #50c1e9;
    cursor: pointer;
}


/*brukes ikke

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    Required to make elements draggable in old WebKit
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
*/



