@(useremail: String, listPath: List[Vare])

@main("Varer/index") {

  <div class="container">
    <div class="row toppen">
      <div class="col-xs-3 navn">
        <h1 class="text">ChopShop</h1>
      </div>
      <div class="col-xs-5 slagord">
        <h3 class="text-field">- Finn dine varer på kortest tid!</h3>
      </div>
      <div class="col-xs-4">
        <div class="login">
          <ul>
            @if(flash().contains("success")){
              @flash.get("success")
            }
            @if(useremail == null){
              <li><a class="overlayLink-login" data-action="login-form.html">Logg inn</a></li>
              <li> | </li>
              <li><a class="overlayLink-new-user" data-action="registration-form.html">Opprett ny bruker</a></li>
            }else{
              <li>@useremail</li>
              <li> | </li>
              <li><a href="@routes.Application.logout()">Logg ut</a></li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="boxed">
        </div>
      </div>
    </div>

    <div class="row hylleplassering">
      <div class="col-xs-7">
        <div class="kart">
          <h3>Hylleplassering</h3>
          <div id="leaflet-kart_close">
          </div>
        </div>
      </div>

      <div class="col-xs-5 shoppingRuteBoks">
        <div class="find-path">
          <div class="row">
            <div class="col-xs-12">
            @if(useremail != null) {
              <h3 class="text-center">Shoppingrute</h3>
            }
            </div>
          </div>
        </div>

        <div class="handleliste-innhold">
          <div class="row">
            <div class="col-xs-12">
            @if(useremail != null){
              <div class="handleliste">
                <table class="table table-condensed">
                  @if(listPath.isEmpty) {
                    <h3>Det finnes ingen varer i din handleliste</h3>
                  }

                  @for(vare <- listPath) {
                    <tr class="handlelisteVarer">
                      <td><img src=@vare.pic alt"pic" height="30px" width="30px"></img></td>
                      <td><strong>@vare.navn</strong></td>
                      <td>@vare.pris kr </td>
                      <td>@vare.kategori</td>
                    </tr>
                  }
                </table>
              </div>
            }
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <a href="@routes.Application.shoppingPath()" class="btn btn-xs tilbake" id="tilbake" onclick="disable = true;" value="disabled">Tilbake</a>
          </div>
        </div>

      </div>
    </div>
  </div>
}