@(message:String, vareList: List[Vare])

    @main("Varer") {

        <div class="overlay" style="display: none;">
            <div class="login-wrapper">
                <div class="login-content">
                    <a class="close">x</a>
                    <h3>Logg inn</h3>
                    <form method="post" action="login.php">
                        <label for="username">Epost:
                            <input type="text" name="username" id="username" placeholder="Skriv inn din epost" required="required" />
                        </label>
                        <label for="password">
                            Passord:
                            <input type="password" name="password" id="password" placeholder="Skriv inn ditt passord"required="required" />
                        </label>
                        <button type="submit">Logg inn</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="toppen">
                    <div class="col-xs-8">
                        <h1 class="text">clas ohlson</h1>
                    </div>

                    <div class="col-xs-4">
                        <div class="login">
                            <ul>
                                <li><a href="login.php" class="overlayLink" data-action="login-form.html">Logg inn</a></li>
                                <li> | </li>
                                <li><a href="register.php" class="overlayLink" data-action="registration-form.html">Opprett ny bruker</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12">
                    <div class="boxed">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="butikk-kart">
                        <h3>Butikk-kart</h3>
                        <div id="leaflet-kart">
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="varevalg">
                                <h3 class="text-center"> Finn ønsket vare </h3>

                                <form>
                                <div class="search">
                                    <span><input type="text" class="search square" placeholder="Søk etter varer her">
                                    <input type="submit" value= "søk"class="søk-knapp"></span>
                                </div>
                                </form>

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Hjem
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="list-group">
                                                <a draggable="true">heisann</a> <buttom></buttom>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Elektro
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="list-group">

                                                <li draggable="true">hei</li>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Fritid
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="list-group">
                                                <li draggable="true">basketball</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    Jernvare
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="list-group">
                                                <li draggable="true">stekepanne</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Multimedia
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                            <div class="list-group">
                                                <li draggable="true">stereo</li>
                                                <li draggable="true">vannkkoker</li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <div class="handleliste">
                                <h3 class="text-center">Handleliste</h3>
                                <ul class="Valgte varer">
                                    <li class="varer">

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }